*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

h1,h2,h3,h4,h5{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'bodoni 72 smallcaps';
}

a{
    color: white;
    text-decoration: none;
}

a:active{
    color: #4F6B53;
}
p{
    align-items: center;
    padding: 5%;
    font-family: 'avenir next';
}
body{
    background-color: #C0DFE0
}
li{
    font-family:'avenir next';
}

.logo{
 display: flex;
justify-content: center;
align-items: center;
 max-height: fit-content;
 flex-wrap: wrap;
}

.navigatie{
    padding-bottom: 5%;
    animation-duration: 3s;
    animation-name: bounce;
}

@keyframes bounce{
0%{ transform: translateY(0);}

50%{ transform: translateY(-15px);}

70%{ transform: translateY(15px);}

100%{transform: translateY(0);}
}




.vintage{
    padding: 2%;
    border-radius: 5%;
    background-color: #A5BCA1
    
}

video{
    padding: 5%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    list-style: none;
    background-color: #D1E6CC
}

nav li{
    margin: 4%;
}

nav li:active{
    border: 0.2em;
    border-style: dashed;
    border-color: white;
}

nav img{
    width: 100px;
    height: 80px;
}

.imgslider{
    display: flex;
    align-items: center;
  position: relative;
  padding: 5%;
  
}

footer{
    background-color:#A5BCA1
}



