*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

h1,h2,h3,h4,h5{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'bodoni 72 smallcaps', 'Arial bold';
}

a{
    color: white;
    text-decoration: none;
}

a:active{
    color: #4F6B53;
}

a:after{
    color: #4F6B53;
}

p{
    align-items: center;
    padding: 5%;
    font-family: 'avenir next';
}
body{
    background-color: #C0DFE0
}

li{
    font-family:'avenir next', sans-serif;
}

figcaption{ 
    font-family: 'avenir next', sans-serif;
font-size: small;}

.logo{
 display: flex;
justify-content: center;
align-items: center;
 max-height: fit-content;
 flex-wrap: wrap;
}

.navigatie{
    padding-bottom: 5%;
    animation-duration: 2.5s;
    animation-name: bounce;
    margin: auto;
}
/* Het bounce effect zorgt ervoor dat er aandacht wordt getrokken aan de navigatiebalk*/
@keyframes bounce{
0%{ transform: translateY(0);}

50%{ transform: translateY(-10px);}

70%{ transform: translateY(10px);}

100%{transform: translateY(0);}
}

nav ul{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    list-style: none;
    background-color: #D1E6CC
}

nav li{
    margin: 4%;
}

nav li:active{
    border: 0.2em;
    border-style: dashed;
    border-color: white;
}

nav img{
    width: 100px;
    height: 80px;
}

/* Hiermee komt er een border om het kledingstuk van verhaal */
.optie1{
    border-color: #4F6B53;
    border-style: solid;
    padding: 7%;
}


.etalage{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border:#6AABBA;
    border-style: solid;
    padding-top: 2%;
}

/* Dit vergroot de foto als je erop klikt.*/
.etalage img:active{
   transform: scale(1.05);}

.vintage{
    padding-top: 2%;
    margin-bottom: 10%;
    border-radius: 5%;
    background-color: #A5BCA1
}

video{
    padding: 5%;
    margin-left: 3%;
    background-color: #DBDBAD;
}


.media-scroller {
  display: grid;
  gap:20%;
  grid-auto-flow: column;
  grid-auto-columns: 40%;
  padding: 0 var(--_spacer) var(--_spacer);
  overflow-x: auto;
  overscroll-behavior-inline: contain;
 margin: 5%;
}


.media-scroller{
    animation-duration: 7.5s;
    animation-name: slide;
}

/* Dit geeft de gebruiker een extra hint dat er een scrollbalk aanwezig is*/
@keyframes slide{
    0%{ transform: translateX(0);}

    30%{ transform: translateX(30px);}
    
    50%{ transform: translateX(20px)}
    
    60%{ transform: translateX(10px);}

    80%{ transform: translateX(-10px);}

    90%{transform: translateX(10px);}
    
    100%{transform: translateY(0px);}
    }


.media-scroller--with-groups {
  grid-auto-columns: 80%;
}

.media-group {
  display: grid;
  row-gap: 20%;
  grid-auto-flow: column;
}

.media-element > img {
  inline-size: 100%;
  object-fit: cover;
}

/* Dit vergroot de foto als je erop klikt.*/
.media-element > img:focus{
    transform-origin: 30%;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.flow {
  display: grid;
  gap: var(--size-3);
}

.section-title {
  padding-inline-start: var(--size-6);
  margin-block: var(--size-9) var(--size-3);
}

footer{
    background-color:#A5BCA1
}

.icoon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}