*{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'bodoni 72 smallcaps';
}
p{
    align-items: center;
    padding: 5%;
    font-family: 'avenir next';
}
body{
    background-color:#C1DFE0 
}
li{
    font-family:'avenir next';
}

.logo{
 display: flex;
justify-content: center;
align-items: center;
 max-height: fit-content;
}

.vintage{
    padding: 2%;
    border-radius: 5%;
    background-color: #F5F2E3 
    
}


nav ul{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    list-style: none;
    size: 50%;
}

nav li{
    margin: 4%;
}

nav li:active{
    border: 5%;
    border-style: dashed;
    border-color: white;
}

nav img{
    border: 2%;
    width: 100px;
    height: 80px;
}

-------------------------------
.knop{
    background-color: aquamarine;
}

.knop:hover{
    color: black;
 background-color: aquamarine;
}

.knop:active{
background-color: rgb(85, 210, 168);
transform: translateY(2%);
}

.knop:focus{
    border-color: rgb(85, 210, 168);
}

.groen img{
transition: transform 0,3s;
max-width: 100%;
max-height: 50%;
border: 1em;
border-color: blanchedalmond;
}

.groen img:hover{
    transform: scale(1.01); translate: 0,3px;
    opacity: 0,9;
}

